In [ ]:
introduction to list datatypes:

In [ ]:
definition :A list is a collection of items in a perticular order.

classification: Alist is classified as a mutable datatype. (which we can be able to edit/modify once it has been defined)

defining:  ---->[] -----> square brackets

In [1]:
students = ['alena', 'pavan','prabhu','ramesh','bharat','anjali'] #0,1,2,3,4,5,6,7,....

In [2]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali']

In [4]:
type(students)

list

In [ ]:
Req: how to access the elements from this list..?
    pavan ---> from above list...

In [ ]:
introduction to indexing in list
starts from 0,1,2,3,4......

In [5]:
print(students[1])

pavan

In [ ]:
Req: print bharat from the list

In [6]:
print(students[4])

bharat

In [7]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali']

In [ ]:
req: 
    1. i want to add a new student to the above list  --->  Ajeet
    
    2. i want to replace a student  'alena'  --->  'anusha'
    
    3. i want to delete pavan name from the above list.

In [8]:
students.append('ajeet')

In [9]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeet']

In [ ]:
add 'diya' name to list

In [10]:
students.append('diya')

In [11]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeet', 'diya']

In [ ]:
req: to add harshita name at 3rd position , how do we achieve it..

In [13]:
students.insert(3,'harshita')
print (students)

['alena', 'pavan', 'prabhu', 'harshita', 'harshita', 'ramesh', 'bharat', 'anjali', 'ajeet', 'diya']

In [14]:
print(students[3])

harshita

In [15]:
students[0] = 'anusha'

In [16]:
print(students)

['anusha', 'pavan', 'prabhu', 'harshita', 'harshita', 'ramesh', 'bharat', 'anjali', 'ajeet', 'diya']

In [18]:
del students[1]
print(students)

['anusha', 'harshita', 'harshita', 'ramesh', 'bharat', 'anjali', 'ajeet', 'diya']